body
{
	margin: 0;
	width: 170px;
	font-family: Segoe UI;
	font-size:11px;
	border: 1px solid #e0e0e0;
}
	body#detail {
		width: 170px;
	}

table{
	width: 100%;
	background-color: #FFF;
}
	#detail table{
		position: absolute;
		top: 0px;
	}

#index table th,
#detail table thead th{
	color: #FFF;
	padding: 5px 0;
	background-color: #4e342e;
}
	#detail table tbody th{
		width: 40%;
		padding-left: 7px;
		border-bottom: 1px solid #e0e0e0;
		text-align: left;
	}

#index table tr {
	cursor: pointer;
}
	#index table tr.selected {
		background-color: #70F50A;
	}

table tr td {
	border-bottom: 1px solid #e0e0e0;
	padding: 2px 3px 3px 3px;
	vertical-align: middle;
}

	#index td {
		text-align: center;
	}
	
	
#index a.url {
	width: 16px;
	height: 16px;
	display: block;
	background: url(../img/earth26.png);
}

.ico_gold {
	background: url("../img/currency-ico.png") no-repeat scroll -13px 0 transparent;
	display: inline-block;
	height: 10px;
	width: 13px;
	padding: 0;
}

td.mapImage {
	padding: 0px;
}

#debug {
	height: 100px;
	overflow-y: scroll;
	background-color: yellow;
	
}
	#detail #debug{
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

