body, html {
   margin:0;
   padding:0;
}

body
{
	margin: 0;
	width: 170px;
	font-family: Segoe UI;
	font-size: 11px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
}
	body#detail {
		width: 170px;
	}
	
	body#settings {
		width: 200px;
		height: 300px;
		border: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 10px;
	}
table{
	width: 100%;
}
	#index table,
	#detail table {
		background-color: #FFF;
	}
	
	table td {
		padding: 10px;
	}

#index table th,
#detail table thead th{
	color: #FFF;
	padding: 5px 0;
	background-color: #4e342e;
}
	#detail table tbody th{
		width: 40%;
		padding-left: 7px;
		border-bottom: 1px solid #e0e0e0;
		text-align: left;
	}
	
	#settings table th {
		text-align: left;
		width: 40%;
	}

#index table tr.row {
	cursor: pointer;
}
	#index table tr.selected td {
		background-color: #70F50A;
	}

table tr td {
	padding: 2px 3px 3px 3px;
}
	#index table tr td,
	#detail table tr td{
		border-bottom: 1px solid #e0e0e0;
		vertical-align: middle;
	}

	#index td {
		text-align: center;
	}
	#detail td,
	#detail tbody th {
		padding: 5px 0 5px 0;
		vertical-align: top;
	}
	
	
	
#index a.url {
	width: 16px;
	height: 16px;
	display: block;
	background: url(../img/earth26.png);
}

.ico_gold {
	background: url("../img/currency-ico.png") no-repeat scroll -13px 0 transparent;
	display: inline-block;
	height: 10px;
	width: 13px;
	padding: 0;
}

td.mapImage {
	padding: 0px;
}

#debug {
	height: 100px;
	overflow-y: scroll;
	background-color: yellow;
	
}
	#detail #debug{
		position: absolute;
		bottom: 0px;
		width: 100%;
	}


#settings #clanlist a {
	display: block;
	cursor: pointer;
	margin-top: 3px;
}