body {
    color: white;
    width: 400px;
    height: 900px;
    background-color: black;
}

#debug1 {
    position: absolute;
    top: 200px;
    left: 15px;
    border: 1px dotted gray;
    color: green;
    width: 300px;
    height: 150px;
    background-color: white;
    word-break: break-all;
    word-wrap:break-word;
}

#debug2 {
    top: 360px;
    left: 15px;
    position: absolute;
    border: 1px dotted gray;
    color: green;
    width: 300px;
    height: 100px;
    background-color: white;
    word-break: break-all;
    word-wrap:break-word;
    padding: 3px;
}

#debug3 {
    top: 475px;
    left: 15px;
    position: absolute;
    border: 1px dotted gray;
    color: green;
    width: 300px;
    height: 100px;
    background-color: white;
    word-break: break-all;
    word-wrap:break-word;
    padding: 3px;
}